#define ___ &trans
#define XXX &none

#define CM &kp COMMA
#define SMC &kp SEMI // semicolon
#define CLN &kp COLON
#define QST &kp QUESTION
#define XCL &kp EXCLAMATION
#define ELI &kp LA(SEMI) // elipsis
#define STR &kp STAR
#define MNS &kp MINUS
#define PLS &kp PLUS
#define HSH &kp HASH
#define DLR &kp DOLLAR
#define PCT &kp PERCENT
#define CRT &kp CARET
#define UND &kp UNDERSCORE
#define PIP &kp PIPE
#define GRV &kp GRAVE
#define TLD &kp TILDE
#define BSH &kp BSLH
#define BSP &kp BSPC
#define FSH &kp FSLH // slash
#define NBS &kp NUBS // non-US backslash
#define _PR &kp LPAR
#define PR_ &kp RPAR
#define _BK &kp LBKT
#define BK_ &kp RBKT
#define _BC &kp LBRC
#define BC_ &kp RBRC
#define _FG &kp _A(NBS) // left french guillemet
#define FG_ &kp _S(_A(NBS)) // right french guillemet

#define K0 &kp KP_N0
#define K1 &kp KP_N1
#define K2 &kp KP_N2
#define K3 &kp KP_N3
#define K4 &kp KP_N4
#define K5 &kp KP_N5
#define K6 &kp KP_N6
#define K7 &kp KP_N7
#define K8 &kp KP_N8
#define K9 &kp KP_N9
#define KPS &kp KP_PLUS
#define KMS &kp KP_MINUS
#define KMP &kp KP_MULTIPLY
#define KDV &kp KP_DIVIDE

#define F_0 &kp F10
#define F_A &kp F11
#define F_B &kp F12
#define F_C &kp F13
#define F_D &kp F12
#define F_E &kp F14
#define F_F &kp F15

#define HOM &kp HOME
#define PUP &kp PG_UP
#define PDN &kp PG_DN
#define DWN &kp DOWN
#define RGT &kp RIGHT
#define LFT &kp LEFT

#define _S &kp LSHFT
#define _C &kp LCTRL
#define _A &kp LALT
#define _M &kp LGUI
#define S_ &kp RSHFT
#define C_ &kp RCTRL
#define A_ &kp RALT
#define M_ &kp RGUI
#define CPS &kp CAPS

#define MPP &kp C_PLAY_PAUSE
#define M_P &kp C_PREV // play previous track
#define MP_ &kp C_NEXT // play next track
#define M_V &kp LEFT // jump back 5 seconds in YouTube video
#define MV_ &kp RIGHT // jump ahead 5 seconds in YouTube video
#define M_X &kp J // jump back 10 seconds in YouTube video
#define MX_ &kp L // jump ahead 10 seconds in YouTube video
#define M_C &kp LA(LEFT) // previous chapter in YouTube video
#define MC_ &kp LA(RIGHT) // next chapter in YouTube video
#define M_S &kp COMMA	// slower in Youtube video
#define MS_ &kp PERIOD	// faster in Youtube video

#define BTP &bt BT_PRV
#define BTN &bt BT_NXT
#define BTX &bt BT_CLR
#define BT0 &bt BT_SEL 0
#define BT1 &bt BT_SEL 1
#define BT2 &bt BT_SEL 2
#define BT3 &bt BT_SEL 3
#define BT4 &bt BT_SEL 4
// #define EQL EQUAL // possible doublon makes build crash

#define SLP &kp C_SLEEP

// DIACRITICS
// Macros

#define A_GRV &digraph GRV A // ck_label="à"
#define SA_GRV &digraph GRV _S(A) // ck_label="À"
#define A_CIR &digraph CRT A // ck_label="â"
#define SA_CIR &digraph CRT _S(A) // ck_label="Â"
#define E_ACU &digraph SQT E // ck_label="é"
#define SE_ACU &digraph SQT _S(E) // ck_label="É"
#define E_GRV &digraph GRV E // ck_label="è"
#define SE_GRV &digraph GRV _S(E) // ck_label="È"
#define E_CIR &digraph CRT E // ck_label="ê"
#define SE_CIR &digraph CRT _S(E) // ck_label="Ê"
#define E_TRM &digraph DQT E // ck_label="ë"
#define SE_TRM &digraph DQT _S(E) // ck_label="Ë"
#define I_CIR &digraph CRT I // ck_label="î"
#define SI_CIR &digraph CRT _S(I) // ck_label="Î"
#define I_TRM &digraph DQT I // ck_label="ï"
#define SI_TRM &digraph DQT _S(I) // ck_label="Ï"
#define O_CIR &digraph CRT O // ck_label="ô"
#define SO_CIR &digraph CRT _S(O) // ck_label="Ô"
#define O_TRM &digraph DQT O // ck_label="ö"
#define SO_TRM &digraph DQT _S(O) // ck_label="Ö"
#define U_GRV &digraph GRV U // ck_label="ù"
#define SU_GRV &digraph GRV _S(U) // ck_label="Ù"
#define U_CIR &digraph CRT U // ck_label="û"
#define SU_CIR &digraph CRT _S(U) // ck_label="Û"
#define U_TRM &digraph DQT U // ck_label="ü"
#define SU_TRM &digraph DQT _S(U) // ck_label="Ü"
#define Y_TRM &digraph DQT Y // ck_label="ÿ"
#define SY_TRM &digraph DQT _S(Y) // ck_label="Ÿ"
#define C_CED &kp _A(C) // ck_label="ç"
#define SC_CED &kp _A(_S(C)) // ck_label="Ç"
#define AE &kp _A(SQT) // ck_label="æ"
#define S_AE &kp _A(_S(SQT)) // ck_label="Æ"
#define OE &kp _A(Q) // ck_label="œ"
#define S_OE &kp _S(_A(Q)) // ck_label="Œ"


// BEHAVIORS

// #define N_SQT &lt 1 SQT
// #define S_GRV &lt 1 GRV

#define RPT &key_repeat

#define TAB_SYS &lc_tp_ht 6 TAB // h: SYSTEM layer, t: TAB
#define BAT_DVC &lc_tp_ht 7 _S(TAB) // h: DEVICE layer, t: &key_repeat

#define NAV_SPC &lc_hpp_ht 3 SPC // h: NAVIGATION, t: Space

#define OSL_DIA &sl 2
#define OS_LSFT &sk LSFT
