/ {
    macros {
        // eacute: e_acute {
        //     compatible = "zmk,behavior-macro";
        //     #binding-cells = <0>;
        //     bindings
        //         = <&macro_press &kp LSHFT>
        //         , <&macro_tap &kp GRAVE &kp A>
        //         , <&macro_release &kp LSHFT>
        //         ;
        // };
    };
};
